@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
/* Repeat for each required CSS module */
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
/* For other components, import their _react-..._ CSS */

@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1024px;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
